.relati-piece-emphasized {
    animation-name: relati-piece-flicker;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

.relati-piece-flicker {
    animation-name: relati-piece-flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.relati-piece-placement {
    animation-name: relati-piece-placement;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.relati-piece-emphasized.relati-piece-placement {
    animation-name: relati-piece-placement, relati-piece-flicker;
    animation-duration: 0.5s, 1s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, 2;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
}

.relati-piece-flicker.relati-piece-placement {
    animation-name: relati-piece-placement, relati-piece-flicker;
    animation-duration: 0.5s, 1s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
}

@keyframes relati-piece-flicker {
    from {
        opacity: 0;
    }
}

@keyframes relati-piece-placement {
    from {
        transform: translate(-2px, -2px) scale(2);
    }
}
