.button {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    box-shadow: #888 1px 1px 5px;
}

.button:active {
    transition: all 0.5s;
    transform: scale(0.8);
}
