.board-container {
    & {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .board {
        position: relative;
    }

    .board {
        transition: transform 0.5s;
    }

    .board * {
        pointer-events: none;
    }
}
