@import "../../styles/utils";

.draw-line {
    opacity: 0.3;
    animation-name: draw-line;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@for $line-length from 1 to 9 {
    $slash-line-length: $line-length * 1.41421;
    $slash-line-length-escaped-query: str-replace($slash-line-length, ".", "\\.");

    .draw-line.length-#{$line-length} {
        stroke-dasharray: #{5 * $line-length};
        stroke-dashoffset: #{5 * $line-length};
    }

    .draw-line.length-#{$slash-line-length-escaped-query} {
        stroke-dasharray: #{5 * $slash-line-length};
        stroke-dashoffset: #{5 * $slash-line-length};
    }
}

// IE not support draw-line effect
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .draw-line {
        stroke-dasharray: 0 !important;
        stroke-dashoffset: 0 !important;
    }
}

@keyframes draw-line {
    to {
        stroke-dashoffset: 0;
    }
}
