#how-to-play {
    .description {
        color: #888;
        height: 60px;
        line-height: 60px;
    }

    .board-container {
        width: 100vw;
        height: calc(100vh - 120px);
    }
}
