#play {
    .versus-header {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 70px;
        }

        & > * {
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            margin: 10px;
        }

        .versus {
            background-image: url(/icons/versus.svg);
        }

        .player-o,
        .player-x {
            position: relative;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

            border: {
                width: 5px;
                style: solid;
                radius: 25px;
            }

            background: {
                position: center;
                size: cover;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                margin-top: 25px;
                margin-left: 25px;
            }
        }

        @each $type, $color in (o: crimson, x: royalblue) {
            .player-#{$type} {
                & {
                    color: $color;
                    border-color: $color;
                    // background-image: url(/icons/player-#{$type}.svg);
                }

                &::after {
                    background-image: url(/icons/symbol-#{$type}.svg);
                }
            }
        }
    }

    .board-container {
        width: 100%;
        height: calc(100% - 140px);
    }

    .message-box {
        .message-container {
            text-align: center;

            .message-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background-size: 50px;

                svg {
                    transform: scale(10);
                }
            }
        }

        .button-group {
            width: 250px;
        }
    }
}
